<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Authentication.AccountName" value="win" />
    <add key="Authentication.Email" value="bandt@69grad.de" />
    <add key="Authentication.Password" value="winmite" />
    <add key="Authentication.UseSSL" value="true" />
    <add key="Authentication.APIKey" value="" />
  </appSettings>
</configuration>